input {
    padding: 8px;
    margin: 6px;
    width: 200px;
    font-size: 12px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

input:focus {
    outline: none;
}

button {
    padding: 8px;
    margin: 6px;
    width: 100px;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 10px;
}

button:hover {
    color: white;
    background-color: black;
    outline: none;
}